<a routerLink="" class="logo" routerLinkActive="ocultar"><img src="/assets/logo 1.png" alt="icono" class="imagen"></a>

<div class="contenedor">
  <!-- Donde va la img -->
  <div class="vector">
    <img src="/assets/Frame 38.png" alt="icono" class="imagen_V">
  </div>

  <div class="formulario">
    <div class="parte 1">
      <div class="sub 11">
        <div class="forma usuario">
          <input class="formato" type="text" id="usuario" placeholder=" Usuario">
          <h3 class="formato_text usuario">Nombre de usuario</h3>
        </div>
        <div class="forma correo">
          <input class="formato" type="email" name="correo" id="correo" placeholder=" Correo">
          <h3 class="formato_text correo">Correo electronico</h3>
        </div>
      </div>

      <div class="sub 12">
        <div class="forma usuario">
          <input class="formato" type="text" id="documento" placeholder=" Documento">
          <h3 class="formato_text usuario">Número de documento</h3>
        </div>
        <div class="forma correo">
          <input class="formato" type="email" id="dirección" placeholder=" Dirección">
          <h3 class="formato_text correo">Dirección de correspondencia</h3>
        </div>
      </div>
    </div>

    <div class="parte 2">
      <div class="sub 21">
        <div class="forma usuario">
          <input class="formato" type="text" id="ciudad" placeholder=" Ciudad">
          <h3 class="formato_text usuario">Ciudad de Correspondencia</h3>
        </div>
        <div class="forma correo">
          <input class="formato" type="text" id="país" placeholder=" País">
          <h3 class="formato_text correo">País de Correspondencia</h3>
        </div>
      </div>

      <div class="sub 22">
        <div class="forma usuario">
          <input class="formato" type="text" id="barrio" placeholder=" Barrio">
          <h3 class="formato_text usuario">Barrio Correspondencia</h3>
        </div>
        <div class="forma correo">
          <input class="formato" type="text" id="teléfono" placeholder=" Teléfono">
          <h3 class="formato_text correo">Número de teléfono</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="contenedor_boton">
    <button type="submit" class="boton">Ingresar</button>
  </div>

</div>