<a routerLink="" class="logo" routerLinkActive="ocultar"><img src="/assets/logo 1.png" alt="icono" class="imagen"></a>

<div class="contenedor">
  <!-- Donde va la img -->
  <div class="vector">
    <img src="/assets/Frame 38.png" alt="icono" class="imagen_V">
  </div>

  <!-- Donde va el formulario -->
  <div class="formulario">
    <!-- Donde va el logo -->
    <div class="parte 1">
      <div class="contenedor_logo mail">
        <a><img src="/assets/mail.png" alt="icono"></a>
      </div>
      <div class="contenedor_text mail">
        <input class="tex m" type="text" placeholder="Email ID" id="username">
      </div>
    </div>

    <!-- Donde va el texto -->
    <div class="parte 2">
      <div class="contenedor_logo pass">
        <a><img src="/assets/lock-closed.png" alt="icono"></a>
      </div>
      <div class="contenedor_text pass">
        <input class="tex p" type="text" placeholder="Contraseña" id="password">
      </div>
    </div>

    <h1 class="crear">Crear cuenta</h1>
    <div class="contenedor_botones">
      <button type="submit" class="boton_I">Ingresar</button>
      <button type="submit" class="boton_O">¿Olvidaste tu contraseña?</button>
    </div>
  </div>

</div>